/* Root styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #242424;
  color: white;
}

/* Navigation Bar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  color: #fbbf24;
}

/* Logo styling */
.logo-container img {
  height: 40px;
  width: auto;
}

/* Main content section */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* Take up the available space */
  width: 100%;
  padding: 20px;
}

/* Home container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Featured filaments layout */
.filament-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

/* Individual filament card styling */
.filament-card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

/* Image styling */
.filament-image {
  width: 100%;
  height:
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  width: 100%;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;  /* Ensure the search bar is vertically centered */
  margin-top: 20px;
}

.search-input {
  padding: 8px 16px;
  width: 300px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}